body{
	font-family: 'Roboto', sans-serif;
}

.navbar-inverse .navbar-brand{
	color: #FFFFFF;
	font-weight: bold;
}

.settings-icon{
	font-size: 18px;
	color: #FFFFFF;
}

.settings-button{
	height: 50px;
};

/*#content{
	padding: 20px;
	padding-top: 70px;
}*/

.form-horizontal{
	padding-left: 40px;
	padding-right: 40px;
}

.btn-success, .btn-success:hover{
	font-size: 20px;
	border-radius: 0px;
	background-color: #88A61B;
	border-color: #88A61B;
}

.btn-danger, .btn-danger:hover{
	font-size: 20px;
	border-radius: 0px;
	background-color: #D92525;
	border-color: #D92525;
}

.btn-default, .btn-default:hover{
	border-radius: 0px;
	background-color: #0E3D59;
	border-color: #0E3D59;
	color: #FFFFFF;
}

#next-button{
	margin-top: 4px;
	margin-right: -10px;
}

#redo-button{
	margin-top: 4px;
	margin-left: -10px;
}

.thumbnail{
	margin-top: 10px;
	padding: 0px;
	border: 4px solid #222;
	border-radius: 0px;
}

.selected{
	border: 4px solid #F25C05;
}

#new-page{
	background-color: #A0A0A0;
	text-align: center;
}

#upload-btn{
	color: #FFFFFF;
	font-size: 20px;
}

#upload-btn:hover{
	color: #FFFFFF;
	text-decoration: none;
}

.for-canvas{
	padding: 10px;
}

.reading-text{
	font-size: 20px;
}

.thumbnail-row{
	/*background-color: #222;*/
	margin-top: -20px;
}

.navbar-default{
	margin-bottom: 0px;
	border-color: #222;
}

.reading{
	margin-top: 10px;
}

.flip-button{
	margin-top: 2px;
	margin-right: 4px;
	margin-left: 4px;
}

.listen-button{
	border-radius: 0px;
	margin-left: 4px;
	margin-top: 1px;
	margin-bottom: -1px;
}

/*Library page*/

.content{
	padding-top: 10px;
	padding-bottom: 50px;
}

.book{
	padding:4px;
	/*padding-bottom: 4px;*/
}

.book-thumb{
	/*border: 2px solid #000000;*/
}

.static-center-button{
	margin-left: 123px;
	margin-top: 5px;
	padding-top: 2px;
}

/*Signup page*/

.control-label{
	padding-top: 10px;
	font-size: 9px;
}

/*Create book page*/

.page{
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
}

.page-inner > p{
	color: #000000;
	font-size: 10px;
}

.btn-warning{
	font-size: 20px;
	border-radius: 0px;
	background-color: #F29F05;
	border-color: #F29F05;

}

.new-page{
	background-color: #A0A0A0;
	text-align: center;
	color: white;
	font-size: 20px;
	padding: 20px;
}

.page-num > h1{
	margin-top: 0px;
	font-weight: bold;
}

/*Read page*/
.navbar-inverse .btn-link{
	color: white;
}

.edit-row{
	margin-top: -20px;
	padding-right: 0px;
}

#delete-button{
	font-size: 12px;
	margin-bottom: 5px;
}

.outside{
	padding-right: 0px;
}

.word span{
	animation: rotateWordsSecond 18s linear infinite 0s;
}

.edit-button{
	padding-top: 3px;
	padding-bottom: 8px;
}