body{
	font-family: 'Roboto', sans-serif;
}

.navbar-inverse .navbar-brand{
	color: #FFFFFF;
	font-weight: bold;
}

.settings-icon{
	font-size: 18px;
	color: #FFFFFF;
}

.settings-button{
	height: 50px;
};

#content{
	padding: 20px;
	padding-top: 70px;
}

.form-horizontal{
	padding-left: 40px;
	padding-right: 40px;
}

.btn-success{
	font-size: 20px;
	border-radius: 0px;
}

.btn-danger{
	font-size: 20px;
	border-radius: 0px;
}

#next-button{
	margin-top: 4px;
	margin-right: -10px;
}

#redo-button{
	margin-top: 4px;
	margin-left: -10px;
}

.for-canvas{
	padding: 10px;
}