<nav class="navbar navbar-default navbar-fixed navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='images/book.png') }}" width="30px"> &nbsp;&nbsp;Storyteller
      </a>
      <button type="button" class="btn btn-link settings-button pull-right">
        <a href="/settings">
        	<!-- <span class="glyphicon glyphicon-cog settings-icon"></span> -->
          <img src="{{ url_for('static', filename='images/gear.png') }}" width="15px">
		    </a>
      </button>
    </div>
  </div>
</nav>