{% extends "base.html" %}

{% block content %}

{% if img_tag %}
<!-- <div class="row">
	<div class="col-xs-12">
		<h5> Highlight the page text with your finger (CHANGE THIS)</h5>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<form role="form" method="post" action="/process/{{book_id}}/{{page_id}}">
			<input type="hidden" name="bounds" id="bounds">
			<button id="next-button" type="submit" class="btn btn-success">Next</button>
		</form>
		<br><br>
	</div>
</div> -->
<div class="row">
	<div class="col-xs-12 for-canvas">
		<canvas id="c"></canvas>
	</div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
	<script src="{{ url_for('static', filename='javascripts/fabric.min.js') }}"></script>
	<script>
		var canvas = new fabric.Canvas('c');
		var image = new Image();
		image.src = "data:image/jpg;base64,{{ img_tag }}";
		image.onload = function() {
			image_width=this.width;
			image_height=this.height;
			image_height=300*image_height/image_width;
			image_width=300
			$('#c').attr({
					width:image_width,
					height:image_height}).css({
					width:image_width,
					height:image_height})
			var imgInstance = new fabric.Image(image, {
				left: 0,
				top: 0,
				width: image_width, 
				height: image_height
			});

			background_rect = new fabric.Rect({
				fill: 'black',
				top: 0,
				left: 0,
				width: image_width,
				height: image_height
			});

			background_rect.set({
				opacity: 0.40
			});

			background_rect.selectable = false;
			canvas.add(background_rect);

			bounding_rect = new fabric.Rect({ 
				fill: 'white', 
				top: 100, 
				left: 50, 
				width: 150, 
				height: 100 });

			bounding_rect.set({
				borderColor: 'white',
				cornerColor: 'white',
				cornerSize: 15,
				transparentCorners: true,
				opacity: 0.4, 
				selectionLineWidth: 5,
				hasRotatingPoint: false
			});
			bounding_rect.lockRotation = true;
			bounding_rect.hasBorders = false;
			canvas.add(bounding_rect);

			canvas.hoverCursor = 'pointer';
			canvas.setActiveObject(canvas.item(1));
			canvas.setBackgroundImage(imgInstance, canvas.renderAll.bind(canvas));

			$('#next-button').click(function(){
				var bounding_box = bounding_rect.getBoundingRect();
				$('#bounds').val(JSON.stringify(bounding_box));
			});
		
		}
	</script>
{% endblock %}