{% extends "base.html" %}

{% block content %}

{% if thumbnails %}
<div class="row thumbnail-row">
	<div id="thumbs" class="owl-carousel lazyLoad">
		{% for thumbnail in thumbnails %}
			{% if loop.index-1 == page_id|int %}
				<div class="thumbnail selected">
					<a href="/read/{{book_id}}/{{loop.index -1}}">
						<img src="data:image/jpg;base64,{{ thumbnail }}" width="100%">
					</a>
				</div>
			{% else %}
				<div class="thumbnail">
					<a href="/read/{{book_id}}/{{loop.index -1}}">
						<img src="data:image/jpg;base64,{{ thumbnail }}" width="100%">
					</a>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
<div class="row">
	<div class="col-xs-12 edit-row">
		<a href="/append/{{book_id}}">
			<button class="btn btn-warning pull-right">
				<span class="glyphicon glyphicon-pencil"></span>
			</button>
		</a>
	</div>
</div>
<div class="row reading">
	<div class="col-xs-12 reading-col">
		<p class="reading-text"> {{text}} </p>
	</div>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
<script>
	$(document).ready(function() {
		$('#listen').click(function(){
			if ('speechSynthesis' in window) {
				console.log('good to go');
				var msg = new SpeechSynthesisUtterance('{{text}}');
				msg.rate = 0.1;
				window.speechSynthesis.speak(msg);
			}
		});

		$("#thumbs").owlCarousel({
			'itemsMobile': [479,4],
			'pagination': false,
			'navigation': false,
			'afterLazyLoad': true, 
			'navigationText': ['<i class="fa fa-chevron-left"></i>', '<i class="fa fa-chevron-right"></i>']
		});
		var owl = $("#thumbs").data('owlCarousel');
	});
</script>
{% endblock %}