{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}

{% if thumbnails %}
<div class="row thumbnail-row">
	<div id="thumbs" class="owl-carousel lazyLoad">
		{% for thumbnail in thumbnails %}
			{% if loop.index-1 == page_id|int %}
				<div class="thumbnail selected">
					<a href="/read/{{book_id}}/{{loop.index -1}}">
						<img src="data:image/jpg;base64,{{ thumbnail }}" width="100%">
					</a>
				</div>
			{% else %}
				<div class="thumbnail">
					<a href="/read/{{book_id}}/{{loop.index -1}}">
						<img src="data:image/jpg;base64,{{ thumbnail }}" width="100%">
					</a>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
<div class="row">
	<div class="col-xs-12 edit-row">
		<a href="/append/{{book_id}}">
			<button class="btn btn-warning pull-right">
				<span class="glyphicon glyphicon-pencil"></span>
			</button>
		</a>
	</div>
</div>
<div class="row reading">
	<div class="col-xs-12 reading-col">
		<p id="animate-text" class="reading-text"> {{text}} </p>
		<div id="message"></div>
	</div>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
<!-- <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script> -->
<!-- <script src="//code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script> -->
<script>

	function onTick() {
	    currentOffset++;
	    if (currentOffset == wordSet.length) {
	        return;
	    }
	    var text = "";
	    for(var i = 0; i <= currentOffset; i++){
	    	text = text.replace(/<\/?span[^>]*>/g,"");
	     	text = text + '<span id="current" style="color : blue; font-weight : 900">' + wordSet[i] + '</span> ';   
	    }
	    text.trim();
	    $("#animate-text").html(text);
	}

	function addSpans(){
		var text = "{{text}}"
		var words = text.split(" ");
		var word_html = ""
		for (i=0; i<words.length; i++){
			word_html += '<span class="highlight">' + words[i] + '</span> '
		}
		$('#animate-text').html(word_html);
		$('span.highlight').on("click", function() {
		  	var selected_word = $(this).text().toLowerCase().trim();
		  	selected_word = selected_word.replace(/[\.,-\/#!$%\^&\*;:{}=\-_`~()]/g,"")
		  	// post here to get translated word
		  	$.post('/translate/'+selected_word+"/{{lang}}", function(translated_word){
		  		alert("English: " + selected_word + "\nGerman: " + translated_word);
		  	});
		});
	}

	$(document).ready(function() {
		var utterance = new SpeechSynthesisUtterance("{{text}}");
		utterance.lang = 'en-US';
		utterance.rate = 0.05;
		// utterance.rate = 0.7;
	    wordSet = $("#animate-text").text().split(' ');
	    currentOffset = 0;
		utterance.onboundary = function(event) {
		    onTick();
		};
		utterance.onend = function(event){
			currentOffset = 0;
			addSpans();
		}
		$('#listen').click(function(){
			window.speechSynthesis.speak(utterance);
		});

		addSpans();

		$("#thumbs").owlCarousel({
			'itemsMobile': [479,4],
			'pagination': false,
			'navigation': false,
			'afterLazyLoad': true, 
			'navigationText': ['<i class="fa fa-chevron-left"></i>', '<i class="fa fa-chevron-right"></i>']
		});
		var owl = $("#thumbs").data('owlCarousel');
	});
</script>
{% endblock %}